* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #444;
  font: 20px/1 sans-serif;
}

ul {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 30rem;
  width: 90%;
}

.title {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.name-list {
  box-shadow: 0px 1px 2px 1px #bbb;
  border-radius: 0.25rem;
  padding: 1rem;
}

.name-list__item {
  border-bottom: 1px solid #444;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}
